/*styles go here*/

/*p {
  color: red;
}*/

img {
  border: 4px;
  border-style: none;
}
p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;

}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-family: 'IM Fell Great Primer', serif;
}

body {
  background-color: #ebe3c3;
}

#container {
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto; */
  width: 90%;
  margin: 0 auto;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: #7a991a;
  text-decoration: underline;
}
