/*styles go here*/

/*p {
  color: red;
}*/

.container1 {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.container1 {
		flex-direction: row;
		justify-content: center;
	}
}

img {
  display: none;
  border: 4px;
  border-style: none;
  text-align: center;
}

@media screen and (min-wdith:800px) {
  img {float: left;
  }
}
p {
  color: black;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: center;}
}

.container {
	display: flex;
	flex-wrap: wrap-reverse;
}


h1 {
  font-family: 'IM Fell Great Primer', serif;
  text-align: center;

}

body {
  background-color: #ffffff;
  text-align: center;
}

#container {
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto; */
  width: 90%;
  margin: 0 auto;
}

* {
	box-sizing: border-box;
}

.container1 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  text-align: center;
}

.container2 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
}

.container3 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
  text-align: center;
}

.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #f1b82d;
	border-radius: 3px;
}

#caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}


#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #e5e5e5;
  font-weight: bold;
  text-align: center;
  font-family: 'Pacifico', Arial, cursive;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: #191919;
  text-decoration: underline;
}
